body {
    background-color: rgb(218, 218, 218);
    color: black;
    font-family: 'Verdana', sans-serif;
    margin: 0em; 
    }

h1 {
    color: #212122;
    font-size: 2.0rem;
    font-family: 'Georgia', serif;
  }
  
  h2 {
    color: #212122;
    font-size: 2.0rem;
    display: inline;
    font-family: 'Georgia', serif;
  }

  h3 {
    color: #212122;
    font-size: 1.0rem;
    margin-left: 1em;
    margin-top: 0em;
    float: left;
  }

  h4 {
    color: #212122;
    font-size: 0.8rem;  
  }

  h5 {
    color: #212122;
    font-size: 1.2rem;
    display: inline;
    font-family: 'Georgia', serif;
  }

  h6 {
    color: #212122;
    font-size: 0.8rem;
    display: inline;
  }

  img:not(.icon) {
    width: 400px;
    height: 300px;
    object-fit: contain; 
  }

  img.icon{
    float:left;
    width: 70px;
    height: 50px;
    margin-top: 1em;
  }

  img.file{
    float:left;
    width: 100px;
    height: 100px;
    margin-top: -1em;
    padding-left: 0em;
    padding-right: 2em;
  }

  img.like{
    width: 35px;
    height: 35px;
  }


.img_box{
    width: 450px;
    height: 400px;
    float:left;
    text-align: center;
}

.vid_box{
    width: 440px;
    height: 390px;
    float:left;
    padding: 5px;
    text-align: center;  
}

.doc_box{
    width: 450px;
    height: 400px;
    float:left;
    text-align: center;
    display: inline-block; 
}

.img_box:hover{
    background-color: rgba(173, 173, 173, 0.116);
}

.vid_box:hover{
    background-color: rgba(173, 173, 173, 0.116);
}

.doc_box:hover{
    background-color: rgba(173, 173, 173, 0.116);
}

.topbox {
    width: 100%;
    background: rgba(11, 92, 168, 0.178);
    margin: 0em;
    margin-right: 0em;
    float: left;  
    position: relative;
}

.title {
    width: 30%;
    margin-left: 1em;
    margin-top: 0em;
    float: left;    
}

.front_header {
    margin-top: 8em;
    margin-left: 3em;
}

.category {
    width: 70%;
    float: left;    
}

.search {
    padding-left: 25em;  
}

.sort {
    padding-top: 8em;
    padding-bottom: 2em;
}

.login_area {
    width: 20%;
    float: right;   
}

.login {
    width: 30%;
    margin-top: 0em;
    margin-right: 0em; 
}

.login_btn {
    width: 1%;
    float:left;
    padding-top: 0.5em;
    padding-right: 5em;
}

.new_btn {
    float:left;
    width: 1%;
    padding-left: 0em;
    padding-top: 0.5em;
}
    
.logged_in {
    float: right;
    width: 12%;
    margin-right: 5em;
    margin-top: -1em;
}

.upload_btn { 
    margin-top: 0.5em;
 }

.register_user {
    padding-top: 10em;
    margin-left: 5em;
    width: 100%;
}

.pw{
    float: left; 
}

.pw_val{
    padding-left: 3em;
    float: left;  
}

.mail{  
    float: left;
}

.mail_val{
    padding-left: 1em;
    float: left; 
}

.firstname{
    float: left
}

.lastname{
    padding-left: 3em;
    float: left
}
.upload {   
    padding-top: 7em;
    margin-left: 5em;
}

.content {
    object-fit: cover; 
    padding: 1%; 
 }

 .content_text{
    white-space: pre-line;
    width: 40%;
}

 .single_content {
     
    padding-top: 8em;
    margin-left: 5em;
 }

 .comments li{
    list-style-type: none;
    width: 40%;
    border-bottom: 2px dotted #0b090c;
 }

.comment_text{
    white-space: pre-line;
}

a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: rgb(49, 49, 49);
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: rgba(49, 49, 49, 0.822);
    background-color: transparent;
    text-decoration: none;
}

