body {
    background-color: rgb(218, 218, 218);
    color: black;
    font-family: 'Verdana', sans-serif;
    margin: 0em; 
}

h1 {
    color: #212122;
    font-size: 2.0rem;
  }
  
  h2 {
    color: #212122;
    font-size: 2.0rem;
    display: inline;
  }

  h3 {
    color: #212122;
    font-size: 1.0rem;
    margin-left: 1em;
    margin-top: 0em;
    float: left;
  }

  h4 {
    color: #212122;
    font-size: 0.8rem;  
  }

  h5 {
    color: #212122;
    font-size: 1.2rem;
    display: inline;
  }

  h6 {
    color: #212122;
    font-size: 0.8rem;
    display: inline;
  }

  img {
    width: 400px;
    height: 300px;
    object-fit: contain; 
  }

.img_box{
    width: 450px;
    height: 400px;
    float:left;
    text-align: center;
}

.vid_box{
    width: 440px;
    height: 390px;
    float:left;
    padding: 5px;
    text-align: center;  
}

.doc_box{
    width: 450px;
    height: 400px;
    float:left;
    white-space: pre-line;
    text-align: center;
    display: inline-block; 
}

.topbox {
    width: 100%;
    background: rgba(11, 92, 168, 0.178);
    margin: 0em;
    margin-right: 0em;
    float: left;  
    position: relative;
}

.title {
    width: 22%;
    margin-left: 1em;
    margin-top: 1em;
    float: left;    
}

.category {
    width: 70%;
    float: left;    
}

.search {
    padding-left: 25em;  
}

.sort {
    margin-top: 3em
}

.login_area {
    width: 20%;
    float: right;   
}

.login {
    width: 50%;
    margin-top: 0em;
    margin-right: 0em; 
}

.buttons{
}

.login_btn {
    width: 10%;
    float:left;  
    padding-top: 0.5em;
}

.new_btn {
    float:left;
    width: 10%;
    padding-left: 3em;
    padding-top: 0.5em;
}
    
.logged_in {
    float: right;
    width: 10%;
    margin-right: 5em;
}

.upload_btn { 
    margin-top: 1em;
 }

.register_user {
    padding-top: 10em;
    margin-left: 5em;
}

.upload {   
    padding-top: 10em;
    margin-left: 10em;
}

.content {
    object-fit: cover; 
    padding: 1%
 }

 .content li {
    list-style-type: none;
 }

 .single_content {
     
    padding-top: 8em;
    margin-left: 5em;
 }

 .videoplayer {
 }

 .comments li{
    list-style-type: none;
    width: 40%;
    border-bottom: 2px dotted #0b090c;
 }

a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: rgb(49, 49, 49);
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: rgba(49, 49, 49, 0.822);
    background-color: transparent;
    text-decoration: none;
}