body {
    background-color: rgb(196, 196, 196);
    color: black;
    font-family: 'Verdana', sans-serif;
    margin: 0em;
    
}

h1 {
    color: #212122;
    font-size: 2.0rem;
    float: left;
    margin-left: 1em;
    margin-top: 1em;
  }
  
  h2 {
    color: #212122;
    font-size: 2.0rem;
    display: inline;
   
  }

  h3 {
    color: #212122;
    font-size: 1.0rem;
    margin-left: 1em;
    margin-top: 0em;
    
    float: left;
  }

  h4 {
    color: #212122;
    font-size: 0.8rem;
  }

  h5 {
    color: #212122;
    font-size: 1.2rem;
    display: inline;
  }

  img {
    width: 400px;
    height: 300px;
    object-fit: contain; 
  }

.img_box{
    width: 500px;
    height: 400px;
    float:left;
    text-align: center;
}

.vid_box{
    width: 490px;
    height: 390px;
    float:left;
    padding: 5px;
    text-align: center;  
}

.doc_box{
    width: 500px;
    height: 400px;
    float:left;
    white-space: pre-line;
    text-align: center;
    display: inline-block;
    
}


.topbox {
    width: 100%;
    background: rgba(168, 150, 11, 0.295);
    margin: 0em;
    margin-right: 0em;
    float: left;  
}

.category {
    width: 100%;
    margin: 0em;
    margin-top: 0em;
    margin-left: 1em;
    margin-right: 0em;
    float: left;  
}

.search {
    padding-left: 25em;  
}


.login_area {
    width: 20%;
    position: relative;
    float: right;  
    
}

.login {
   
    float: left;
    width: 30%;
    margin-top: 2em;
    margin-right: 5em;
    
}

.login_btn {
    float: left;
    position: absolute;
    margin-left: 10em;
    bottom:0;
    
}

.new_btn {
    float: left;
    position: absolute;
    margin-left: 15em;
    bottom:0;
     
}

.logged_in {
    float: right;
    width: 10%;
    
    margin-right: 5em;

}

.upload_btn {
    
    margin-top: 1em;
 
 }

.register_user {
    
    
    
    margin-left: 5em;
    

}

.upload {
    
   margin-left: 10em;

}

.content {
    object-fit: cover;
    
    padding: 5%
 }

 .content li {
    list-style-type: none;
 }


 .comments li{
    list-style-type: none;
    width: 40%;
    border-bottom: 2px dotted #0b090c;
    white-space: pre-line;
 }


a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: rgb(49, 49, 49);
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: rgba(49, 49, 49, 0.822);
    background-color: transparent;
    text-decoration: none;
}