<!doctype html>
<html lang="en">
    <head>
        <title>Mini</title>
        <link rel="stylesheet" href="static/cms.css" />
     </head>

    <body>
      <!-- Script keeps scroll posision when reloading.
      From stackoverflow: https://stackoverflow.com/questions/17642872/refresh-page-and-keep-scroll-position -->
      <script>
        document.addEventListener("DOMContentLoaded", function(event) { 
            var scrollpos = localStorage.getItem('scrollpos');
            if (scrollpos) window.scrollTo(0, scrollpos);
        });
        window.onbeforeunload = function(e) {
            localStorage.setItem('scrollpos', window.scrollY);
      }; 
      </script>

      <div class="topbox">
        <div class="title">
          <a href="{{url_for('front')}}"> <img class="icon" src="{{url_for('download_asset', id=5, _external=True)}}" alt="logo"/><h1>Mini</h1></a>
        </div>
        
        {% if current_user.is_authenticated %}
          
          <div class="logged_in">
            <p>
            <h6>Innlogget som: </h6> <br> 
            <h5>{{ current_user.username }} </h5>
            </p>
            <form action="{{url_for('logout', _external=True)}}" method="GET">
              <input type="submit" name="logout" value="Logg ut">
            </form>
          
            <div class="upload_btn">
              <form action="{{url_for('select_file', _external=True)}}" method="GET">
                <input type="submit" value="Last opp innhold">
              </form>
            </div>
          </div>

        {% else %}
          <div class="login_area">
            <div class="login">
              <form action="{{url_for('login', _external=True)}}" method="POST">
                <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
                  {{login_form.username.label}}
                  {{login_form.username}}
                  {{login_form.password.label}}
                  {{login_form.password}}
            </div>
              <div class="buttons">
                <div class="login_btn">
                  {{login_form.submit()}}
                </div>
                </form>
              <div class="new_btn">
                <form action="{{url_for('register', _external=True)}}" method="GET">
                  <input type="submit"  value="Registrer"> 
                </form>
              </div>
            </div>
            
          {% if error %}
            <br style="clear:both" />
            <span style="color: red;">[{{ error }}]</span>
          {% endif %}

          </div>
        {% endif %}

        <div class = 'category'>
          <a href="{{url_for('content')}}"><h3>Alle</h3> </a>
          <a href="{{url_for('pictures')}}"><h3>Bilder</h3> </a>
          <a href="{{url_for('videos')}}"><h3>Video</h3> </a>
          <a href="{{url_for('documents')}}"><h3>Dokumenter og filer</h3> </a>
          
          <div class = 'search'>
            <form action="{{url_for('search', _external=True)}}" method="GET">
              <input type="text" id="text" name="text">
              <input type="submit" value="Søk">
            </form>
          </div> 

        </div>
        
      </div>
      
      {% if email %}
        Epost for aktivering av brukerkonto er sendt til {{ email }} <br>
        Du kan ikke logge inn før eposten er bekreftet.
      {% endif %}

      {% if activated %}
        Brukerkontoen er aktivert. <br>
        Du kan nå logge inn.
      {% endif %}

      {% block body %}
      {% endblock %}
    </body>
</html>