{% extends "base.html" %}

{% block body %}

<div class = "upload">

  <br> <h2>Redigering</h2> <br> <br>

  {% if current_user.is_authenticated %}

    Fil: {{content.filename}} <br> 
    Filtype: {{content.mimetype}}  Størrelse: {{content.size}} bytes <br>

    <form action={{url_for('edit_update', _external=True)}} method="POST" enctype="multipart/form-data">

      <br>
      {{content.title.label}}<br>
      {{  content.title(size=20)  }}<br> 
      {% for error in content.title.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}

      <br>
      {{content.description.label}}<br>
      {{  content.description(rows="3", cols="50")  }}<br> 
      {% for error in content.description.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}

      <br>
      {{content.tags.label}}<br>
      {{  content.tags(size=32)  }}<br> 
      {% for error in content.tags.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}

      <br>
      Tilgjengelighet <br>
      <select name="open">
        <option value=1>For alle</option>
        <option value=2>Kun medlemmer</option>
        <option value=5>feil</option>
      </select> <br>
      {% for error in content.open.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}


      
      
      <input type="hidden" id="filename" name="filename" value="{{ content.filename }}">
      <input type="hidden" id="mimetype" name="mimetype" value="{{ content.mimetype }}">
      <input type="hidden" id="size" name="size" value="{{ content.size }}">
      <input type="hidden" id="contentID" name="contentID" value="{{ content.contentID }}">
      <input type="hidden" id="owner" name="owner" value="{{ content.owner }}">

      <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">


      <p>{{ content.submit_edit }}</p> <br>
      
    </form>
    
    
    


  {% else %}
        <h2>Not logged in</h2>
  {% endif %}

</div>

{% endblock %}