{% extends "base.html" %}

{% block body %}

    <div class = "register_user">

        <h1>Registrer ny bruker</h1>
        <div class = "userform">
            <form action="{{url_for('register', _external=True)}}" method="POST">
                <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
                
                <div class = "brukernavn">
                    <p>
                    {{form.username.label}}<br>
                    {{  form.username(size=16)  }}<br> 
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    </p>
                </div>

                <div class = "passord">
                    <p>
                    {{form.password.label}}<br>
                    {{form.password(size=16)}}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    </p>
                </div>

                <div class = "email">
                    <p>
                    {{form.email.label}}<br>
                    {{form.email(size=16)}}<br> 
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    </p>
                </div>

                <div class = "fornavn">
                    <p>
                    {{form.firstname.label}}<br>
                    {{form.firstname(size=16)}}<br>
                    {% for error in form.firstname.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    </p>
                </div>

                <div class = "etternavn">
                    <p>
                    {{form.lastname.label}}<br>
                    {{form.lastname(size=16)}}<br> 
                    {% for error in form.lastname.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    </p>
                </div>
              
                {% if error %}
                <span style="color: red;">[{{ error }}]</span>
                {% endif %}
                <br>
                <p>{{ form.submit }}</p> 
            
            </form>
        </div>        
    </div> 
{% endblock %}
